<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inzetsysteem</title>

    <!-- CSS  -->
    <link href="~/lib/bootstrap/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <!-- Font Awesome -->
    <link href="~/lib/bootstrap/dist/css/font-awesome.css" rel="stylesheet">
    <!-- Skill Progress Bar -->
    <link href="~/lib/bootstrap/dist/css/pro-bars.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/owl.carousel.css">
    <!-- Default Theme CSS File-->
    <link id="switcher" href="~/lib/bootstrap/dist/css/default-theme.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <!-- Main css File -->
    <link href="~/lib/bootstrap/dist/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <!-- Font -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- jQuery Library -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Materialize js -->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!-- Skill Progress Bar -->
    <script src="js/appear.min.js" type="text/javascript"></script>
    <script src="js/pro-bars.min.js" type="text/javascript"></script>
    <!-- Owl slider -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Mixit slider  -->
    <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
    <!-- counter -->
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>

    <!-- Custom Js -->
    <script src="js/custom.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

@if (User.Identity.IsAuthenticated)
{
    <header id="header" role="banner">
        <div class="navbar-fixed">
            <nav>
                <div class="container">
                    <div class="nav-wrapper">
                        <a href='@Url.Action("Profile", "Home")' class="brand-logo"><img src="~/Images/fontys-logo.png" alt="logo img"></a>
                        <ul class="right hide-on-med-and-down custom-nav menu-scroll">
                            <li><a asp-area="" asp-controller="Home" asp-action="Profile">Profiel</a></li>
                            @if (User.IsInRole(Roles.Docent.ToString()))
                            {
                                <li><a asp-area="" asp-controller="Preference" asp-action="OnderwijsTrajectPreference">Preference invoeren</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="MijnTaken">Mijn taken</a></li>
                            }
                            @if (User.IsInRole(Roles.Teamleider.ToString()))
                            {
                                <li><a asp-area="" asp-controller="Home"asp-action="Index">Team beheren</a></li>
                                <li><a asp-area="" asp-controller="Home"asp-action="Index">Docenten</a></li>
                            }                                                  
                            @if (User.IsInRole(Roles.Blokeigenaar.ToString()) || User.IsInRole(Roles.Staflid.ToString()))
                            {
                                <li><a asp-area="" asp-controller="Home" asp-action="Movies">Taskverdeling</a></li>
                            }
                            @if (User.IsInRole(Roles.Blokeigenaar.ToString()) || User.IsInRole(Roles.Curriculumeigenaar.ToString()))
                            {
                                <li><a asp-area="" asp-controller="Home" asp-action="Movies">Voeg Task toe</a></li>
                            }
                            <input type="button" value="Log Out" onclick="location.href = '@Url.Action("Logout", "Home")'" class="btn btn-primary"/>
                        </ul>
                        <ul id="slide-out" class="side-nav menu-scroll">
                            @if (User.IsInRole(Roles.Docent.ToString()))
                            {
                                <li><a asp-area="" asp-controller="Home" asp-action="Profile">Profiel</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="PreferenceInvoeren">Preference invoeren</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="MijnTaken">Mijn taken</a></li>
                            }
                            @if (User.IsInRole(Roles.Teamleider.ToString()))
                            {
                                <li><a asp-area=""  asp-controller="Home" asp-action="Index">Team beheren</a></li>
                                <li><<a asp-area="" asp-controller="Home" asp-action="Index">Docenten</a></li>
                            }                       
                            @if (User.IsInRole(Roles.Blokeigenaar.ToString()) || User.IsInRole(Roles.Staflid.ToString()))
                            {
                                <li><a asp-area="" asp-controller="Home" asp-action="Movies">Taskverdeling</a></li>
                            }
                            @if (User.IsInRole(Roles.Blokeigenaar.ToString()) || User.IsInRole(Roles.Curriculumeigenaar.ToString()))
                            {
                                <li><a asp-area="" asp-controller="Home" asp-action="Movies">Voeg Task toe</a></li>
                            }
                        </ul>
                        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
}
<div class="container">
    <partial name="_CookieConsentPartial"/>
    <main role="main" class="col-xl">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - Inzetsysteem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
    </script>
</environment>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
