@using Models
@model IEnumerable<EducationObject>

@{
    ViewData["Title"] = "Assigned Tasks";
}

<div style="margin-top: 75px; margin-bottom: 100px">
    <h5>My Assigned Tasks:</h5>
    <table>
        <tr style="border-bottom: solid darkgray 1px">
            <th>ID</th>
            <th>Period</th>
            <th>Code</th>
            <th>Description</th>
            <th>Explanation</th>
            <th>Hours</th>
        </tr>
        @{
            foreach (var task in @Model.OrderBy(t => t.Id))
            {
                {
                    <tr style="border: solid darkgray 1px">
                        <td style="margin: 0; padding: 3px">@task.Id</td>
                        <td style="margin: 0; padding: 3px">@task.Period</td>
                        <td style="margin: 0; padding: 3px">@task.Name</td>
                        <td style="margin: 0; padding: 3px">@task.Description</td>
                        <td style="margin: 0; padding: 3px">@task.Explanation</td>
                        <td style="margin: 0; padding: 3px">@task.EstimatedHours</td>
                    </tr>
                }
            }
        }
    </table>
</div>
