@model IEnumerable<EducationObject>
@using FHICTDeploymentSystem.Models
@{
    ViewData["Title"] = "FixateTask";
}

<style type="text/css">
    .form-style-5 {
        max-width: 500px;
        padding: 10px 20px;
        background: #f4f7f8;
        margin: 10px auto;
        padding: 20px;
        background: #f4f7f8;
        border-radius: 8px;
        font-family: Georgia, "Times New Roman", Times, serif;
    }

        .form-style-5 fieldset {
            border: none;
        }

        .form-style-5 legend {
            font-size: 1.4em;
            margin-bottom: 10px;
        }

        .form-style-5 label {
            display: block;
            margin-bottom: 8px;
        }

        .form-style-5 input[type="text"],
        .form-style-5 input[type="date"],
        .form-style-5 input[type="datetime"],
        .form-style-5 input[type="email"],
        .form-style-5 input[type="number"],
        .form-style-5 input[type="search"],
        .form-style-5 input[type="time"],
        .form-style-5 input[type="url"],
        .form-style-5 textarea,
        .form-style-5 select {
            font-family: Georgia, "Times New Roman", Times, serif;
            background: rgba(255,255,255,.1);
            border: none;
            border-radius: 4px;
            font-size: 15px;
            margin: 0;
            outline: 0;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            background-color: #e8eeef;
            color: #8a97a0;
            -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
            box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
            margin-bottom: 30px;
        }

            .form-style-5 input[type="text"]:focus,
            .form-style-5 input[type="date"]:focus,
            .form-style-5 input[type="datetime"]:focus,
            .form-style-5 input[type="email"]:focus,
            .form-style-5 input[type="number"]:focus,
            .form-style-5 input[type="search"]:focus,
            .form-style-5 input[type="time"]:focus,
            .form-style-5 input[type="url"]:focus,
            .form-style-5 textarea:focus,
            .form-style-5 select:focus {
                background: #d2d9dd;
            }

        .form-style-5 select {
            -webkit-appearance: menulist-button;
            height: 35px;
        }

        .form-style-5 input[type="submit"],
        .form-style-5 input[type="button"] {
            position: relative;
            display: block;
            padding: 19px 39px 18px 39px;
            color: #FFF;
            margin: 0 auto;
            background: #663366;
            font-size: 18px;
            text-align: center;
            font-style: normal;
            width: 100%;
            border: 1px solid #663366;
            border-width: 1px 1px 3px;
            margin-bottom: 10px;
        }

            .form-style-5 input[type="submit"]:hover,
            .form-style-5 input[type="button"]:hover {
                background: #e40086;
            }
</style>
<div style="padding-bottom: 70px; padding-top: 20px">
    <div class="form-style-5">
        <form>
            <fieldset>
                <legend style="text-align: center">Add task</legend>
                <label>Section:</label>
                <select id="sections" type="text" name="field1">
                    @foreach (var section in Model)
                    {
                        var sectionId = section.Id;
                        var sectionName = section.Name;

                        <option value="@sectionId">@sectionName</option>
                    }
                </select>
                <label>Unit:</label>
                <select id="units" type="text" name="field2"></select>
                <label>Unit execution:</label>
                <select id="execId" type="text" name="field3"></select>
                <label>Task:</label>
                <select id="tasks" type="text" name="field4"></select>
                <label>Employee:</label>
                <select id="employees" type="text" name="field5">
                    @*@foreach (var employee in Model.Employees)
                    {
                        var employeeId = employee.Id;
                        var employeeName = employee.Name;

                        <option value="@employeeId">@employeeName</option>
                    }*@
            </select>
        </fieldset>
        <fieldset></fieldset>
    </form>
    <input id="fixateBtn" type="button" value="Fixate task" />
</div>
</div>

@section Scripts
    {
    <script>
        $('#sections').click(function() {
            $('#units').empty();
            $('#tasks').empty();
            $('#execId').empty();
            $('#employees').empty();
            var selectedSectionId = $("#sections option:selected").val();
            var selectedUnit = $('#units');
            selectedUnit.append($("<option></option>")
                .attr("value", "12")
                .text("-Select-"));
            $.post('@Url.Action("GetAvailableUnits", "Task")',
                {
                    sectionId: selectedSectionId
                },
                function(data) {
                    data.forEach(function(section) {
                        selectedUnit.append($("<option></option>")
                            .attr("value", section.id)
                            .text(section.name));
                    });
                });
        });

        $('#units').click(function() {
            $('#execId').empty();
            $('#tasks').empty();
            $('#employees').empty();
            var selectedUnitId = $("#units option:selected").val();
            var selectedExec = $('#execId');
            selectedExec.append($("<option></option>")
                .attr("value", "test")
                .text("-Select-"));

            $.post('@Url.Action("GetAvailableUnitTermExecs", "Task")',
                {
                    unitId: selectedUnitId
                },
                function(data) {
                    data.forEach(function(exec) {
                        selectedExec.append($("<option></option>")
                            .attr("value", exec.id)
                            .text(exec.name));
                    });
                });
        });

        $('#execId').click(function() {
            $('#tasks').empty();
            $('#employees').empty();
            var selectedExecId = $("#execId option:selected").val();
            var selectTasks = $('#tasks');
            selectTasks.append($("<option></option>")
                .attr("value", "Lol")
                .text("-Select-"));
            $.post('@Url.Action("GetAvailableTasks", "Task")',
                {
                    unitTermExecId: selectedExecId
                },
                function(data) {
                    data.forEach(function(task) {
                        selectTasks.append($("<option></option>")
                            .attr("value", task.id)
                            .text("Period: " + task.period + " | " + task.name + ": " + task.description));
                    });
                });
        });

        $('#tasks').click(function () {
            $('#employees').empty();
            var selectedTaskId = $("#tasks option:selected").val();
            var selectEmployees = $('#employees');
            selectEmployees.append($("<option></option>")
                .attr("value", "Lol")
                .text("-Select-"));
            $.post('@Url.Action("GetAllEmployeesWithCompetenceForTask", "Task")',
                {
                    taskId: selectedTaskId
                },
                function(data) {
                    data.forEach(function(emp) {
                        selectEmployees.append($("<option></option>")
                            .attr("value", emp.id)
                            .text(emp.name + " | Competent: " + emp.isCompetentForTask));
                    });
                });
        });


        $('#fixateBtn').click(function() {

            var selectedId = $("#tasks option:selected").val();
            var selectedEmpId = $("#employees option:selected").val();
            var task = {
                "Id": selectedId
            }
            var data = {
                taskId: selectedId,
                empId: selectedEmpId
            }
            if (selectedId !== undefined) {
                $.ajax({
                    url: '@Url.Action("FixateTask", "Task")',
                    data: data,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(result) {
                        console.log("Success");
                        window.location.href = '@Url.Action("FixateTaskView", "Task")';
                    },
                    error: function(result) {
                        console.log("Success");
                        window.location.href = '@Url.Action("TaskSelector", "Task")';
                    }
                });
            } else {
                console.log("Non selected!");
            }
        });
    </script>
}