@using Inzetsysteem.Controllers
@using Inzetsysteem.Logic
@model Preference


<div class="container">
    <div class="row">
        @if (!Model.WaardeIsAverage)
        {
            <div id="periodText" class="hola">Period 1</div>
        }

        <div class="col l6"><center>
    @if (!Model.WaardeIsAverage)
    {

        <ul class="btn-voorkeur btn-voorkeur-next">
            <li>
                @Model.Taak.Naam
            </li>
        </ul>
        <div class="Omschrijving">Dit is een beschrijving</div>
    }
    else
    {

        <ul class="btn-voorkeur btn-voorkeur-next" onclick="location.href = '@Url.Action("RedirectLayer", "Preference", new {taakNaam = @Model.Taak.GetType().Name, id = @Model.Taak.Id})'">
            <li>
                @Model.Taak.Naam
            </li>
        </ul>
    }
</center>
        </div>
        @for (int x = 0; x < 5; x++)
        {
            string defCheck = null;

            if (@Model.Waarde == x)
            {
                defCheck = "checked";
            }
            <div class="radioknoppen">
                <input id="Waarde" name=@Model.Taak.Naam type="radio" value=@x ; @defCheck><span>@x</span>
            </div>

        }

    </div>
</div>


<style>
    div [class*="col-"] {
        text-align: center;
        padding: 15px;
        border: 3px solid #fff;
        color: #000;
    }
    div [class*="Omschrijving"] {
        color: #000000;
        font-size: small;
    }
    div [class*="radioknoppen"] {
        float: left;
        padding-left: 3.5%;
        padding-top: 3%;
    }
</style>