@using FHICTDeploymentSystem.Controllers
@using FHICTDeploymentSystem.Logic
@using FHICTDeploymentSystem.Models
@using Microsoft.EntityFrameworkCore.Infrastructure
@using Task = FHICTDeploymentSystem.Models.EducationObject
@model Preference


<div class="container">
    <div class="row">
        @if (!Model.ValueIsAverage)
        {
            <div id="periodText" class="hola">Period 1</div>
        }

        <div class="col l6">
            <center>
                @if (!Model.ValueIsAverage)
                {

                    <ul class="btn-voorkeur btn-voorkeur-next">
                        <li>
                            @Model.Task.Name
                        </li>
                    </ul>
                    <div class="Omschrijving">Dit is een beschrijving</div>
                }
                else
                {

                    <ul class="btn-voorkeur btn-voorkeur-next" onclick="location.href = '@Url.Action("RedirectLayer", "Preference", new {educationType = @Model.Task.EducationType, id = @Model.Task.Id})'">
                        <li>
                            @Model.Task.Name
                        </li>
                    </ul>
                }
            </center>
        </div>
        @for (int x = 1; x < 5; x++)
        {
            string defCheck = null;

            if (@Model.Value == x)
            {
                defCheck = "checked";
            }
            <div class="radioknoppen">
                <input id="Waarde" name=@Model.Task.Name type="radio" value=@x><span>@x</span>
            </div>

        }

    </div>
</div>


<style>
    div [class*="col-"] {
        text-align: center;
        padding: 15px;
        border: 3px solid #fff;
        color: #000;
    }

    div [class*="Omschrijving"] {
        color: #000000;
        font-size: small;
    }

    div [class*="radioknoppen"] {
        float: left;
        padding-left: 3.5%;
        padding-top: 3%;
    }
</style>