@using FHICTDeploymentSystem.Controllers
@using FHICTDeploymentSystem.Logic
@using FHICTDeploymentSystem.Models
@using Microsoft.EntityFrameworkCore.Infrastructure
@using Task = FHICTDeploymentSystem.Models.EducationObject
@model Preference


<div class="container">
    <div class="row">
        @if (Model.Task.EducationType.Equals(EducationType.Task))
        {
            <div id="periodText" class="hola">Period @Model.Task.Period</div>
        }

        <div class="col l6">
            <center>
                @if (Model.Task.EducationType.Equals(EducationType.Task))
                {

                    <ul class="btn-voorkeur btn-voorkeur-next" >
                        @Model.Task.Name : <a style="font-size: small; ">@Model.Task.Description</a>
                    </ul>
                }
                else
                {

                    <ul class="btn-voorkeur btn-voorkeur-next" onclick="location.href = '@Url.Action("RedirectLayer", "Preference", new {educationType = @Model.Task.EducationType, id = @Model.Task.Id})'">
                        <li>
                            @Model.Task.Name
                        </li>
                    </ul>
                    <div class="Omschrijving">Average preference value: @Model.Value</div>
                }
            </center>
        </div>
        @for (int x = 1; x < 5; x++)
        {
            if (Model.Task.EducationType.Equals(EducationType.Task))
            {
                <div class="radioknoppen">
                    <input id="Waarde" name=@Model.Task.Id type="radio" value=@x ; checked><br/><span style="color: #000000">@x</span>
                </div>
            }
            else
            {
                <div class="radioknoppen">
                    <input id="Waarde" name=@Model.Task.Id type="radio" value=@x><br /><span style="color: #000000">@x</span>
                </div>
            }


        }

    </div>
</div>


<style>
    div [class*="col-"] {
        text-align: center;
        padding: 15px;
        border: 3px solid #fff;
        color: #000;
    }

    div [class*="Omschrijving"] {
        color: #000000;
        font-size: small;
    }

    div [class*="radioknoppen"] {
        float: left;
        padding-left: 3.5%;
        padding-top: 3%;
    }
</style>