@using Microsoft.EntityFrameworkCore.Internal
@model IEnumerable<Preference>

@{
    ViewData["Title"] = "OnderwijsTrajectPartialView";
}
<h1 id="Title" style="color: #663366"></h1>
<body>
    <div class="carousel-wrapper">

        <div class="carousel-item item-1">
            <div class="parent-btn">
                <a>
                    @foreach (var Preference in @Model)
                    {
                        <div>
                            @Html.Partial("PartialViews/RadioButtons", Preference)
                        </div>
                    }

                    <div class="parent-btn">

                        <center><button style="width: 15%;" id="saveBtn" onclick="goToSaveChecker()" class="btn-voorkeur" type="submit">Save</button></center>
                        <br />
                        <center><button style="width: 15%;" onclick="goBack()" class="btn-voorkeur" type="button">Terug</button></center>
                    </div>
                    @*
                        </form>
                    *@
                </a>
            </div>
        </div>
    </div>
</body>

@if (null != TempData["Title"])
{
    <script type="text/javascript">

        var h1 = document.createElement('h1');
        h1.innerHTML = '@TempData["Title"]';
        console.log(h1.innerHTML);

        document.getElementById('Title').appendChild(h1);
    </script>
}
<script>
    $(function() {
        $('#saveBtn').on('click', goToSaveChecker);
    });

    function goToSaveChecker() {
        var radioButtons = document.getElementById("Value");
        var preferences = [];

        @foreach (var preference in Model)
        {
            <text>
                var radioButton = $('input[name=' + @preference.Task.Id + ']:checked').val();

                console.log(radioButton);
                var preference = {
                    "Task": {
                        "Id": @preference.Task.Id,
                        "EducationType": @Json.Serialize(preference.Task.EducationType)
                    },
                    "Value": radioButton
                };

                preferences.push(preference);
            </text>
        }

        console.log(preferences);

        var controllerPath = '@Url.Action("SaveChecker", "Preference")';

        console.log(JSON.stringify(preferences));

        $.ajax({
            url: controllerPath,
            data: JSON.stringify(preferences),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function() {
                console.log('Succes!');
            },
            error: function() {
                console.log('Error');
            }
        });
    }
</script>
<script>
    function goBack() {
        window.history.back();
    }
</script>